<h1>CoinValuator</h1>



<%= form_for :form  do |f| %>
  <p class="form-group">
    <%= f.label "currency" %>
    <%= f.select :currency,@currencies.map{|t| [t,t]},:selected=>@currency,:class=>"form-control" %>
  </p>
  <p class="form-group">
    <%= f.label "addresses(one address per line)" %><br>
    <%= f.text_area :addresses,:value=>@addresses ,:class=>"form-control",:size=>"10x10"%>
  </p>
 
  <p>
    <%= f.submit "evaluate" ,:class=>"btn btn-primary  btn-sm"%>
  </p>
<% end %>

<% if @coins then%>
<table class="table table-striped table-condensed">
<tr>
<th>address</th>
<th>coin</th>
<th>amount</th>
<th>BTC value</th>
<th><%=@currency%></th>
</tr>
<% @coins.each{|adr,coin| %>
<% coin.each{|kind,prop| %>
<tr>
<td><%=adr%></td>
<td><%=kind%></td>
<td><%=prop[:amount]%></td>
<td><%=prop[:btc]%></td>
<td><%=prop[:value]%></td>
<%}%>
</tr>
<%}%>
<tr class="info">
<td>Total</td>
<td>-</td>
<td>-</td>
<td><%=@btcSum%></td>
<td><%=@currencySum%></td>
</table>

<h2>
Use this 
<%= link_to "link", "form[addresses]"=>@addresses,"form[currency]"=>@currency%>
next time!
</h2>

<%end%>

<br>

<h2>Detail & Source</h2>
<a href="https://github.com/storj-jp/coin-valuator">https://github.com/storj-jp/coin-valuator</a>

<h2>Donation</h2>
18xgGTTzZU9etyBt5wC8gS2tKn5No33jw3(BTC) <br><br>
If you want me to add exchanges, coins,etc... donate first and tweet your requests to @storj_jp with your btc address. <br>
(Your donation never gurantees to meet your requests.)
<br>